*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('seagull-9176504.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    text-align: center;
    column-gap: 40px;
    padding: 20px;
    background-color: gray;
    
}
nav a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
#name{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: blue;
    font-size: 50px;
   
}
